@import '../../scss/base';
@import '~bootstrap/scss/pagination';

.Nav {
  display: flex;
  justify-content: space-around;
}

.List {
  @extend .pagination;
}

.Item {
  @extend .page-item;
}

.CurrentInfo {
  @extend .page-link;
  &:hover {
    background-color: $pagination-bg;
  }
}

.Link {
  @extend .page-link;
}

.ItemPrevious {
}

.ItemNext {
}
